<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd ">
	
    	
	
	
	<bean id="ds_ccs" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${local.jdbc.driverClassName}" />
		<property name="url" value="${local.jdbc.url}" />
		<property name="username" value="${local.jdbc.user}" />
		<property name="password" value="${local.jdbc.pass}" />
	</bean>
</beans>
