<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd ">
	
    	
	<bean id="ds_ccs" class="com.fuiou.support.FuiouPooledDataSource" destroy-method="close">
        <property name="platId" value="ifts"/>
		<property name="databaseName" value="ccsdb"/>
		<property name="minPoolSize" value="5" /> 
		<property name="maxPoolSize" value="10" />
	</bean>
</beans>
