<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"  
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
        http://www.springframework.org/schema/tx    
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
		
	<jpa:repositories base-package="cn.pengh.dubbo.provider.city" 
		entity-manager-factory-ref="entityManagerFactory_hibernate" 
		transaction-manager-ref="jpaTransactionManager_ccsdb"/>
	
		
	<bean id="entityManagerFactory_hibernate" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">  
        <property name="dataSource" ref="ds_ccs" /> 
        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter" /> 
        <property name="persistenceUnitName" value="jpa_hibernate_mysql" />
        <property name="persistenceXmlLocation" value="classpath:/jpa/jpa-persistence.xml" />
        <property name="packagesToScan" value="cn.pengh.dubbo.provider.city"/> 
    </bean>
    <bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="MYSQL"></property>  
    </bean>
    
    <bean id="jpaTransactionManager_ccsdb" class="org.springframework.orm.jpa.JpaTransactionManager" >
		<property name="entityManagerFactory" ref="entityManagerFactory_hibernate" />
	</bean>
	<tx:annotation-driven transaction-manager="jpaTransactionManager_ccsdb"/>
	
</beans>
